body{
    margin: 0;
    padding: 0;
    font-family: montserrat, serif;
    font-weight: bold;
    color: #015A39;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    position: fixed;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ffffff;
    padding-top: 10px;
}
div{
    width: 65px;
}
.navImg{
    height: 30px;
    margin-bottom: 15px;
}
div p{
    margin-top: -10px;
}