body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: montserrat, serif;
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 85%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
#title{
    color: #13482B;
    font-family: cardo, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    align-self: end;
}
.accent{
    color: #4A8C7A;
}
#messages{
    width: 24px;
    height: 20px;
    align-self: center;
    justify-self: end;
}
main{
    width: 85%;
    margin: auto;
    margin-top: 0;
}
.post{
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}
.userImg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 15px;
}
.postImg{
    width: 100%;
}
.postHead{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post p{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.buttons{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 15px;
}
.btn{
    width: 120px;
    height: 30px;
    border: 1px solid #7BBEEA;
    border-radius: 20px;
    color: #13482B;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.claim{
    background-color: #7BBEEA;
}
.createPost{
    background-color: #FD9872;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 90px;
}