body{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: montserrat, serif;
    background-color: #F6F6F6;
    width: 100%;
}
header{
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#title{
    color: #13482B;
    font-family: cardo, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.accent{
    color: #4A8C7A;
}
main{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#profMain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#profHead{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: cardo, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25em;
}
#profPic{
    background-image: url(https://images.pexels.com/photos/4599047/pexels-photo-4599047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 175px;
    border-radius: 100px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
}
#profNav{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#profNav div{
    width: 100%;
}
.profBtn{
    width: 80%;
    margin: auto;
    font-family: cardo, serif;
    font-weight: bold;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    height: 100px;
}
.linkArrow{
    display: grid;
    justify-self: end;
}
.navIcon{
    width: 45px;
    height: 45px;
}
.profBtn p{
    display: grid;
    justify-self: start;
    align-self: center;
    margin: 0;
    margin-left: 20px;
}
.imgTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    text-align: left;
}
#article-01{
    position: relative;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.23);
    z-index: 1;
}
#article-02{
    position: relative;
    box-shadow: 0px -1px 5px -2px rgba(0,0,0,0.23);
    z-index: 1;
}
#article-03{
    position: relative;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.23);
    z-index: 1;
}
#profileLink{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    margin-bottom: 30px;
}
#profileLink p{
    font-family: montserrat, serif;
    font-weight: normal;
    font-size: 1.25em;
    text-align: center;
    grid-column: 2 / 3;
    margin: 0;
}
#profileLink img{
    justify-self: end;
    grid-column: 3 / 4;
}