body{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: montserrat, serif;
    background-image: url(../images/background-01.png);
    background-position-y: -50px;
    background-size: 150px;
    background-repeat: repeat;
}
.hidden{
    display: none;
}
header{
    display: inline-block;
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 75px;
}

#title{
    color: #13482B;
    font-family: cardo, serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
header p{
    margin: 0px 0px 0px 10px;
}
.accent{
    color: #4A8C7A;
}
.firstname, .lastname, .email, .password, .confirm{
    margin-bottom: 40px;
}
.password{
    text-align: left;
}
.password p{
    font-size: 0.75em;
}
#Firstname, #Lastname, #Email, #Password, #PasswordConfirm{
    color: #002522;
    border: none;
    border-bottom: 1px solid #4A8C7A;
    padding-bottom: 7px;
    font-family: montserrat;
    font-size: 1em;
    background-color: transparent;
    width: 400px;
}
.toggleVis{
    position: absolute;
    right: 70px;
}

.img{
    height: 40px;
}

#submit{
    color: #13482B;
    background-color: #7BBEEA;
    border: #7BBEEA;
    padding: 15px 40px 15px 40px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#registerAlt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#registerAlt div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#divide{
    display: flex;
    justify-content: center;
    align-items: center;
}
#separator{
    font-family: cardo, serif;
    width: 80%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-top: 60px;
    font-size: 1.25em;
} 
 
#separator span{ 
     background:#fff; 
     padding:0 10px; 
}

#registerAlt{
    margin-top: 50px;
}
#registerAlt div{
    border-radius: 40px;
    padding: 10px 50px 10px 50px;
    margin-bottom: 25px;
}

#registerAlt div p{
    margin-left: 20px;
}

#facebook{
    background-color: #4267B2;
    color: white;
    width: 280px;
    cursor: pointer;
}

#google{
    background-color: #FFFFFF;
    width: 280px;
    cursor: pointer;
}

#facebook img{
    height: 45px;
}

#google img{
    margin-left: 7.5px;
    margin-right: 5px;
}
#switch{
    display: inline-block;
    text-align: left;
    margin-left: 50px;
}
#switch a{
    text-decoration: none;
    color: #002522;
    font-weight: bold;
}